Django>=1.8.2
Unipath==1.1
python-dateutil>=2.4.2
-e git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
# -e git+https://github.com/botswana-harvard/edc-registration@develop#egg=edc-registration
# -e git+https://github.com/botswana-harvard/edc-visit-tracking@develop#egg=edc-visit-tracking
-e git+https://github.com/botswana-harvard/edc@develop#egg=edc
